<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Entrez un nouveau dicton</title>
  </head>
  <body>
    <form action="/create" method="POST">
      <input type="text" name="dicton" placeholder="Entrez votre dicton" />
      <button type="submit">Nouveau dicton</button>
    </form>
  </body>
</html>
